.navbar-brand{
    margin-left: 170px;
}

.btn{
    margin-left: 680px;
}

.fa-cog{
    
    margin-left: 10px;
}
.nav-item{
    margin-left: 10px;
}
.btn1{
    margin-left: 650px;
}

div.container{
   margin: auto;
    width: 700px;
}
